.navbar {
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
}

h1 {
    color: black;
    font-size: 2rem;
}


.nav-right ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    width: 100%;
    font-weight: bold;
}

.header__main-ham-menu-cont {
    display: none;
    cursor: pointer;
}

.d-none {
    display: none;
}

/* --------------------------------------------------------------------- */

@media only screen and (max-width: 55em) {

    .header__main-ham-menu-cont {
        display: block;
    }

    .header_link {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 100%;
        right: 0;
        padding: 0;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
        background-color: white;
    }

    .header_link.header_link--open {
        max-height: 500px;
    }

    ul {
        gap: 0;
    }

    .nav-right li {
        border-top: 1px solid rgb(175, 175, 175);
        width: 100%;
        padding: 1.5rem 0;
    }

    a {
        padding: 0rem 3rem;
        font-size: 0.8rem;
    }
}